@import "_reset_css";

@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

html {
    font-family: Microsoft JhengHei;
    background: #000f36;
    min-width: 1200px;
    height: 100%;
    overflow: hidden;
}

main {
    position: relative;
    min-width: 1100px;
    height: 980px;
    overflow: hidden;
    margin: 0 auto;
    article {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        .logo {
            position: absolute;
            width: 712px;
            height: 549px;
            left: -101px;
            top: 129px;
            background: url(../images/logo.png) no-repeat top center;
            background-size: 100%;
            animation: tada;
            animation-duration: 3s;
        }
        .text {
            position: absolute;
            width: 342px;
            height: 247px;
            left: 585px;
            top: 25px;
            background: url(../images/text.png) no-repeat top center;
            background-size: 100%;
        }
        .login {
            position: absolute;
            width: 365px;
            height: 160px;
            left: 566px;
            top: 288px;
            .t {
                width: 365px;
                height: 55px;
                .n,
                .o {
                    position: relative;
                    float: left;
                    text-align: center;
                    width: 178px - 2px;
                    height: 55px - 2px;
                    line-height: 55px;
                    border-radius: 3px;
                    border: 1px solid #b97b31;
                    font-size: 22px;
                    box-shadow: 1px 1px 5px 0px #e5af55 inset;
                    color: #fff;
                    background-color: #75310a;
                    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d99f48, endColorstr=#75310a);
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#d99f48, endColorstr=#75310a)";
                    background: linear-gradient(
                        to top,
                        #75310a 0%,
                        #d99f48 19%,
                        #75310a 29%,
                        #d99f48 58%,
                        #fed78c 68%,
                        #fff7eb 76%,
                        #fed78c 88%,
                        #75310a 100%
                    );
                    cursor: pointer;
                    &:hover,
                    &:active,
                    &.active {
                        border: 1px solid #001d54;
                        background-color: #001d53;
                        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#001d53, endColorstr=#1360c4);
                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#001d53, endColorstr=#1360c4)";
                        background: linear-gradient(to top, #1360c4 0%, #001d53 62%);
                        box-shadow: 1px 1px 5px 0px #001d53 inset;
                    }
                }
                .n {
                    margin: 0 9px 0 0;
                }
            }
            .m {
                width: 365px;
                height: 96px;
                margin: 9px 0 0 0;
                @include clearfix;
                .l {
                    float: left;
                    width: 223px;
                    height: 96px;
                    margin: 0 9px 0 0;
                    input {
                        @include clearfix;
                        width: 203px;
                        height: 43px;
                        color: #fff;
                        background-color: #1b1b17;
                        border-radius: 3px;
                        padding: 0 10px;
                        &::placeholder {
                            color: #fff;
                        }
                        &:nth-of-type(1) {
                            margin: 0 0 10px 0;
                        }
                    }
                }
                .r {
                    float: left;
                    width: 133px - 2px;
                    height: 96px - 2px;
                    background-color: gray;
                    text-align: center;
                    line-height: 96px;
                    border-radius: 3px;
                    border: 1px solid #006907;
                    font-size: 22px;
                    box-shadow: 1px 1px 5px 0px #02aa15 inset;
                    color: #fff;
                    background-color: #00660c;
                    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0ac31f, endColorstr=#00470c);
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#0ac31f, endColorstr=#00470c)";
                    background: linear-gradient(
                        to top,
                        #005a06 3%,
                        #0eb822 14%,
                        #00470c 27%,
                        #00660c 40%,
                        #0ac31f 67%,
                        #c9ffc6 77%,
                        #0eb822 86%,
                        #005a06 100%
                    );
                    cursor: pointer;
                    &:hover,
                    &:active,
                    &.active {
                        border: 1px solid #004869;
                        box-shadow: 1px 1px 5px 0px #0267aa inset;
                        background-color: #002147;
                        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0a60c3, endColorstr=#002147);
                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#0a60c3, endColorstr=#002147)";
                        background: linear-gradient(
                            to top,
                            #00365a 3%,
                            #0e66b8 14%,
                            #002147 27%,
                            #003d66 40%,
                            #0a60c3 67%,
                            #c6e3ff 77%,
                            #0e66b8 86%,
                            #00325a 100%
                        );
                    }
                }
            }
        }
    }
    .bg {
        position: absolute;
        background: url(../images/bg.jpg) no-repeat top center;
        background-size: 1920px;
        width: 100%;
        height: 100%;
        z-index: -20;
    }
}
.iebg {
    display: none;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: block;
        position: absolute;
        background: url(../images/bg.jpg) no-repeat top center;
        background-size: 1920px;
        width: 100%;
        height: 100%;
        z-index: -20;
    }
}
