html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}

html {
  font-family: Microsoft JhengHei;
  background: #000f36;
  min-width: 1100px;
  height: 100%;
  overflow: hidden;
}

main {
  position: relative;
  min-width: 1100px;
  height: 980px;
  overflow: hidden;
  margin: 0 auto;
}
main article {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
main article .logo {
  position: absolute;
  width: 712px;
  height: 549px;
  left: -101px;
  top: 129px;
  background: url(../images/logo.png) no-repeat top center;
  background-size: 100%;
  animation: tada;
  animation-duration: 3s;
}
main article .text {
  position: absolute;
  width: 342px;
  height: 247px;
  left: 585px;
  top: 25px;
  background: url(../images/text.png) no-repeat top center;
  background-size: 100%;
}
main article .login {
  position: absolute;
  width: 365px;
  height: 160px;
  left: 566px;
  top: 288px;
}
main article .login .t {
  width: 365px;
  height: 55px;
}
main article .login .t .n,
main article .login .t .o {
  position: relative;
  float: left;
  text-align: center;
  width: 176px;
  height: 53px;
  line-height: 55px;
  border-radius: 3px;
  border: 1px solid #b97b31;
  font-size: 22px;
  box-shadow: 1px 1px 5px 0px #e5af55 inset;
  color: #fff;
  background-color: #75310a;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d99f48, endColorstr=#75310a);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#d99f48, endColorstr=#75310a)";
  background: linear-gradient(to top, #75310a 0%, #d99f48 19%, #75310a 29%, #d99f48 58%, #fed78c 68%, #fff7eb 76%, #fed78c 88%, #75310a 100%);
  cursor: pointer;
}
main article .login .t .n:hover, main article .login .t .n:active, main article .login .t .n.active,
main article .login .t .o:hover,
main article .login .t .o:active,
main article .login .t .o.active {
  border: 1px solid #001d54;
  background-color: #001d53;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#001d53, endColorstr=#1360c4);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#001d53, endColorstr=#1360c4)";
  background: linear-gradient(to top, #1360c4 0%, #001d53 62%);
  box-shadow: 1px 1px 5px 0px #001d53 inset;
}
main article .login .t .n {
  margin: 0 9px 0 0;
}
main article .login .m {
  width: 365px;
  height: 96px;
  margin: 9px 0 0 0;
  *zoom: 1;
}
main article .login .m:after, main article .login .m:before {
  content: "";
  display: table;
}
main article .login .m:after {
  clear: both;
}
main article .login .m .l {
  float: left;
  width: 223px;
  height: 96px;
  margin: 0 9px 0 0;
}
main article .login .m .l input {
  *zoom: 1;
  width: 203px;
  height: 43px;
  color: #fff;
  background-color: #1b1b17;
  border-radius: 3px;
  padding: 0 10px;
}
main article .login .m .l input:after, main article .login .m .l input:before {
  content: "";
  display: table;
}
main article .login .m .l input:after {
  clear: both;
}
main article .login .m .l input::placeholder {
  color: #fff;
}
main article .login .m .l input:nth-of-type(1) {
  margin: 0 0 10px 0;
}
main article .login .m .r {
  float: left;
  width: 131px;
  height: 94px;
  background-color: gray;
  text-align: center;
  line-height: 96px;
  border-radius: 3px;
  border: 1px solid #006907;
  font-size: 22px;
  box-shadow: 1px 1px 5px 0px #02aa15 inset;
  color: #fff;
  background-color: #00660c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0ac31f, endColorstr=#00470c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#0ac31f, endColorstr=#00470c)";
  background: linear-gradient(to top, #005a06 3%, #0eb822 14%, #00470c 27%, #00660c 40%, #0ac31f 67%, #c9ffc6 77%, #0eb822 86%, #005a06 100%);
  cursor: pointer;
}
main article .login .m .r:hover, main article .login .m .r:active, main article .login .m .r.active {
  border: 1px solid #004869;
  box-shadow: 1px 1px 5px 0px #0267aa inset;
  background-color: #002147;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0a60c3, endColorstr=#002147);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#0a60c3, endColorstr=#002147)";
  background: linear-gradient(to top, #00365a 3%, #0e66b8 14%, #002147 27%, #003d66 40%, #0a60c3 67%, #c6e3ff 77%, #0e66b8 86%, #00325a 100%);
}
main .bg {
  position: absolute;
  background: url(../images/bg.jpg) no-repeat top center;
  background-size: 1920px;
  width: 100%;
  height: 100%;
  z-index: -20;
}

.iebg {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .iebg {
    display: block;
    position: absolute;
    background: url(../images/bg.jpg) no-repeat top center;
    background-size: 1920px;
    width: 100%;
    height: 100%;
    z-index: -20;
  }
}